
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    width: 100%;
    text-align: center;
    margin: 20px auto;
}
.form{
    /* border: solid black 1px; */
    width: 100%;
}
.formu{
    width: 80%;
    background-color: rgb(240, 240, 240);
    margin: 10px auto;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px 1px black;
}
.inputs{
    /* border: solid blue 1px; */
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    width: 60%;
    font-size: 22px;
}
.inputs label{
    width: 40%;
    text-align: right;
}
.inputs input{
    width: 50%;
    font-size: 20px;

}
.cont_res{
    font-size: 22px;
}
.cont_res span{
    font-weight: bold;
}
#res{
    font-size: 18px;
    width: 100%;
    color: red;
}

.contenedor_resp{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(200%);
}
.ver_resp{
    transform: translate(0%);

}
.clos_resp{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    color: aliceblue;
    font-size: 33px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 1px 1px 4px black;
}
.boton{
    width: 100%;
    /* border: solid red 1px; */
    text-align: center;
}
.boton button{
    width: 40%;
    font-size: 22px;
    background-color: rgb(73, 73, 253);
    color: aliceblue;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
}

@media(max-width:780px){
    .formu{
        width: 90%;
        /* background-color: aqua; */
    }
    .inputs{
        width: 90%;
    }
    .inputs label{
        font-size: 20px;
    }


}
@media(max-width:575px){
    .formu{
        width: 100%;
        /* background-color: aqua; */
    }
    .inputs{
        width: 100%;
    }
    .cont_res{
        padding-left: 10px;
        font-size: 18px;
    }
}
  